<section class="main_section">
    <section class="home_section">
        <h1 class="section_heading">Profile Details</h1>
        <div class="profile_div">
            <!-- {% if object.profile_picture %} -->
                <img src="../../../assets/def_prof_pic.jpg" alt="">
            <!-- {% else %} -->
                <!-- <img src="../../../assets/def_prof_pic.jpg" alt=""> -->
            <!-- {% endif %} -->

            <div class="profile_data_div">
                <p>Username: ..</p>
                <p>First Name: ..</p>
                <p>Last Name: ..</p>
                <p>Email: ..</p>
                <p>Profile Type: ..</p>
                <div class="form_buttons_div">
                    <a class="a_button_inside" routerLink="/edithProfile">Edit</a>
                    <a class="a_button_inside" routerLink="/deleteProfile">Delete</a>
                    <a class="a_button_inside" routerLink="/home">Back</a>
                </div>
            </div>
        </div>
    </section>
</section>