<section class="main_section">
    <section class="form_section">
        <h1 class="section_heading" >Delete Current Article</h1>
        <form class="form_flex">
            <h2>title</h2>
            <p>content</p>
            <p>Author: ..</p>
            <p>Last Updated At: ..</p>
            <p>Created on: ..</p>
            <div class="form_buttons_div">
            <button class="a_button_inside" type="submit">Delete</button>
            <a class="a_button_inside" routerLink="/home">Back</a>
            </div>
        </form>
    </section>
</section>